#task-panel .task.btn-default
{
	transition: background-color 200ms linear;
}
#task-panel .task.btn-default.task-open
{
	background-color: #43a5f4;
}

#task-panel .task.btn-default.task-open.task-start
{
	background-color: #f0d948;
}

#task-panel .task.btn-default.task-open.task-start.task-finish
{
	background-color: #f0d948;
}

#task-panel .task.btn-default.task-open.task-close
{
	background-color: #5fea43;
}

#task-panel .task.btn-default.task-start
{
	background-color: #f0d948;
}

#task-panel .task.btn-default.task-start.task-finish
{
	background-color: #5fea43;
}

#task-panel .task.btn-default.task-error
{
	background-color: #fc3838;
}
